<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\site\wwwroot\wildfly-10.0.0.Final\bin\standalone.bat">
      <environmentVariables>
        <environmentVariable name="JAVA_OPTS" value="-Djava.net.preferIPv4Stack=true -Djboss.http.port=%HTTP_PLATFORM_PORT% -Djboss.server.log.dir=%HOME%\LogFiles"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>