<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\site\wwwroot\wildfly-10.0.0.Final\bin\standalone.bat">
      <environmentVariables>
        <environmentVariable name="jdbc_connectionString" value="%SQLAZURECONNSTR_DEMO%" />
        <environmentVariable name="jdbc_username" value="%SQLAZURECONNSTR_DEMO_USER%" />
        <environmentVariable name="jdbc_password" value="%SQLAZURECONNSTR_DEMO_PASSWORD%" />
        <environmentVariable name="JAVA_OPTS" value="-Djava.net.preferIPv4Stack=true -Djboss.http.port=%HTTP_PLATFORM_PORT% -Djboss.server.log.dir=%HOME%\LogFiles -Dredis_host=%REDIS_HOST% -Dredis_port=%REDIS_PORT% -Dredis_password=%REDIS_PASSWORD%"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>